<div
  class="bg-white mt-0 h-[50px] border-primary border-2 w-[full] z-30 flex items-start justify-center p-3 gap-2"
>
  <a
    class="bg-primary text-white font-semibold h-[25px] border-solid border-2 w-auto p-3 flex items-center justify-center rounded-sm hover:bg-white hover:text-primary"
    routerLink="tracker"
    routerLinkActive="bg-primary text-white"
    >IP Tracker
  </a>
  <a
    class="bg-primary text-white font-semibold h-[25px] border-solid border-2 w-auto p-3 flex items-center justify-center rounded-sm hover:bg-white hover:text-primary"
    routerLink="job-list"
    routerLinkActive="bg-primary text-white"

    >Job list</a
  >
</div>

<router-outlet></router-outlet>
